@import "../shared/colors.scss";

.banner {
  display: flex;
  background-color: $light-grey;
  padding: 1em 0 18vw;
  flex-direction: column;
  text-align: center;
}

.banner-1 {
  margin: 4em 0;
  img {
    width: 70%;
  }
}

.banner-2 {
  display: none;
}

.banner-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .banner-title,
  .banner-sub-title {
    font-size: 1.3em;
    color: $dark-grey;
    margin: 0;
  }
  .banner-button-area {
    margin-top: 50vw;
  }
  .banner-title {
    font-weight: bold;
  }
}

@media only screen and (min-width: 489px) {
  .banner {
    padding-bottom: 8vw;
  }
}

@media only screen and (min-width: 768px) {
  .banner {
    flex-direction: row;
    justify-content: space-between;
    padding: 4em 2em;
  }
  .banner-1,
  .banner-2 {
    img {
      width: 100%;
    }
  }
  .banner-1 {
    margin: 0;
  }
  .banner-2 {
    display: block;
  }
  .banner-text {
    position: inherit;
    .banner-title,
    .banner-sub-title {
      font-size: 1.5em;
      margin: 0;
    }
    .banner-button-area {
      margin-top: 3em;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .banner-text {
    .banner-title,
    .banner-sub-title {
      font-size: 2.5em;
      margin: 0;
    }
  }
  .banner {
    .banner-1,
    .banner-2 {
      img {
        width: 70%;
      }
    }
  }
}
