@import "../shared/colors.scss";

.faq-section .title {
  text-align: center;
}

.faq-container {
  border-top: 2px solid $grey;
  border-bottom: 2px solid $grey;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.faq {
  padding: 1em;
  border-bottom: 2px solid $grey;
  transition: height 2s;

  .faq-title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    p {
      margin: 0;
      color: $dark-grey;
    }
    .arrow:after {
      content: "\25BC";
      color: $grey;
      font-weight: bold;
      float: right;
      margin-left: 1.5em;
    }
  }

  .faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding-right: 1.5em;
    p {
      color: $dark-grey;
      margin-bottom: 0;
    }
  }

  &:last-child {
    border-bottom: none;
  }

  &.active {
    .faq-title p {
      font-weight: bold;
    }
    .arrow:after {
      content: "\25B2";
    }
  }
}

@media only screen and (min-width: 768px) {
  .faq-container {
    border: 2px solid $grey;
    border-radius: 0.5em;
  }
}
