@import "../shared/colors.scss";

button {
  color: $white;
  font-weight: bold;
  padding: 0.7em 2.5em;
  margin: 0.5em;
  border: none;
  border-radius: 3em;
  min-width: 15em;
  &.primary {
    background-image: linear-gradient($light-red, $dark-red);
  }
  &.secondary {
    background-image: linear-gradient($grey, $dark-grey);
  }
}
